button{
    color: #88C2BB;
}

nav a {
    position: relative;
  }
  
  nav a.active-link::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 4px; 
    background-color:#88C2BB ; 
    border-radius: 2px; 
  }
  